{% extends 'base.html' %}
{% block content %}

<div id="message-box">
  <h2>Welcome, {{ name }}!</h2>
  <h2>Room Code: {{ code }}</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input type="text" rows="3" placeholder="Message" name="message" id="message">
    <button type="button" id="send-btn" onClick="sendMessage()">Send</button>
  </div>
</div>

<script type="text/javascript">
  var socketio = io();
  const messages = document.getElementById("messages");

  const createMessage = (name, msg) => {
    const content = `
    <div class="text">
      <span>
        <strong>${name}</strong> ${msg}
      </span>
      <span class="muted">
         ${new Date(timestamp).toLocaleString()}
      </span>
    </div>
    `;
    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message, data.timestamp);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value.trim() === "") return;
    socketio.emit("message", { name: "{{ name }}", message: message.value.trim() });
    message.value = "";
  };

</script>
{% for msg in messages %}
<script>
  createMessage("{{ msg.name }}", "{{ msg.message }}", "{{ msg.timestamp }}");
</script>
{% endfor %}
{% endblock %}
